.container{
    padding: 0px !important;
}
#content-wrapper.admin-content-wrapper{
    margin-left: 220px !important;
}
.p-0{
    padding: 0px !important;
}
.navbar-top-links li:last-child{
    padding-right: 0px;
}
#header-navbar .profile-dropdown > a  img {
    border-radius: 50%;
    background-clip: padding-box;
    /* float: left; */
    height: 35px;
    margin-right: 5px;
    width: 35px;
    border: 2px solid #fff;
}
.react-bs-table{
    border: none;
}
#sidebar-nav .nav li .submenu{
    display: none;
}
#sidebar-nav .nav li.active .submenu{
    display: block;
}
#sidebar-nav .nav li .submenu>li.active{
    background: #ddd !important;
    font-weight: 700;
    border: none!important;
    box-shadow: none!important;
}
.react-bs-table table td, .react-bs-table table th,.react-bs-container-body{
    overflow: visible;

}