@media (min-width: 991px) {
    .action-wrap {
        position: absolute;
        bottom: 0;
    }
}
.table tbody>tr.tickettype-desc>td {
    padding-top: 0;
    border: 0;
    color: #7b7b7b;
    font-size: 0.8em;
}
.table-hover>tbody>tr.tickettype-desc:hover, .table-hover>tbody>tr.tickettype-desc:hover>td {
    background: transparent !important;
}
.timeLeft {
    cursor: pointer;
    position: fixed;
    bottom: 22px;
    right: 30px;
    border: 4px solid #797979;
    border-radius: 5px;
    padding: 5px 28px 15px;
    background: #FFF;
    z-index: 1000;
    text-align: center;
    font-weight: bold;
}
.timeLeft:before {
    content: 'Time Remaining';
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
@media (max-width: 992px) {
    .main-box {
        margin-bottom: 55px;
    }
    .timeLeft {
        bottom: 0px;
        right: 0px;
        border: 0;
        border-top: 1px solid #eee;
        border-radius: 0;
        padding: 1px 20px;
        width: 100%;
    }
    .timeLeft .ticker{
        display: inline-block;
    }
    .timeLeft:before {
        margin-bottom: 1px;
    }
}
.form-spinner {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.28);
    z-index: 99
}
.form-spinner .fa {
    display: block;
    font-size: 100px;
    color: #FFF;
    width: 100%;
    position: absolute;
    top: 30%;
}
.tiny{
    font-size: 0.6em;
    margin: 0px !important;
}